div.one{
	background-color: blue;
	width: 600px;
	height: 600px;
}
div.two{
	background-color: pink;
	width: 600px;
	height: 600px;
}
div.three{
	background-color: yellow;
	width: 600px;
	height: 600px;
}
div.four{
	height: 20px;
}