.img {
    display: inline-block;
    width: 300px;
    transition: all 1s ease-in-out 0s;
    /*如果宽高没有限定，会默认全部属性一起变化*/
    position: static;
    /*绝对定位会让元素跨越父级标签的囊括，所以一般使用static*/
    /*position语句和具体位置放置没关系*/
    top: 0px;
    left: 0px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px 1px gray, -1px 1px 1px 1px gray, 1px -1px 1px 1px gray, -1px -1px 1px 1px gray;
}

.img:hover {
    width: 800px;
}

.div {
    display: inline-block;
    width: 100%;
    background-color: pink;
}

.title {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    top: 0px;
    /*默认static（其他也是）的位置布局不会叠加，要通过强制位置定位才会叠加，两个都要定位*/
}
.hover{
    display: flex;
    /*默认垂直上首行、左对齐*/
    justify-content: flex-end;
}